
@{
    ViewData["Title"] = "Details";
   // Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<p> The below Text is coming from Child View</p>

@await Html.PartialAsync("TestPartialView", new List<string> { "SQL","CSharp","UnitTesting","Asp.Net","MVC","MVC Core"})
