@model IEnumerable<Day1MVCPrj.Models.Department>
@{
    ViewBag.Title = "ListDepartmentDetails";
}

<h2>ListEmployeeDetails</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Dept ID</th>
            <th>Dept Name</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.DeptName</td>
            
            </tr>
        }

    </tbody>
</table>