@model CorePrj2.Models.Student
@{
    ViewData["Title"] = "GetDetails";
}

<h1>GetDetails</h1>
<table>
    <tr>
        <td>Student Id :</td>
        <td>@Model.StdId</td>
    </tr>
    <tr>
        <td>Student Name :</td>
        <td>@Model.StdName</td>
    </tr>
    <tr>
        <td>Student Gender :</td>
        <td>@Model.Gender</td>
    </tr>
    <tr>
        <td>Course :</td>
        <td>@Model.Discipline</td>
    </tr>
</table>
