
@{
    ViewBag.Title = "viewMethod";
}

<h2>viewMethod</h2>
<h2>viewMethod of Democontroller</h2>
@ViewBag.checkdata

@foreach (var item in Model)
            {
                <p>@item</p>
            }



